@use '../layout.scss';

.no-content {
  min-height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.content {
  min-height: calc(100vh - layout.$header-height - layout.$footer-height);
  padding: 0 1rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;

  div {
    text-align: center;
    margin-right: 1rem;
  }
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.explanation {
  margin: 1rem 0;
  font-size: 1rem;
}

.file {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    background-color: #f1c40f;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      background-color: #f39c12;
    }
  }
}

.edit-delete {
  text-align: center;
  margin: 1rem 0;

  button {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}

@media (max-width: layout.$screen-tiny) {
  .section {
    display: block;
  }
}
