@use '../layout.scss';
@use '../theme.scss';

.main {
  min-height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 2rem;
}

.to-home {
  a {
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    color: theme.$color-asbestos;
  }
}
