@use '../Header.module.scss' as Header;
@use '../Footer.module.scss' as Footer;

.sign {
  min-height: calc(100vh - Header.$height - Footer.$height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
