@use '../layout.scss';

.section {
  overflow-x: hidden;
}

.article {
  height: 160px;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 1s ease-in-out;
  font-size: 1.5rem;
}

.from-right {
  transform: translateX(90%);
  &.to-original-position {
    transform: translateX(15%);
  }
}

.from-left {
  justify-content: right;
  transform: translateX(-90%);
  &.to-original-position {
    transform: translateX(-15%);
  }
}

.many-contents {
  background-color: #d35400;
  color: white;
}

.various-forms {
  background-color: #2980b9;
  color: white;
}

.reaction {
  background-color: #2c3e50;
  color: white;
}

@media (max-width: layout.$screen-medium) {
  .from {
    &-right,
    &-left {
      justify-content: center;

      &.to-original-position {
        transform: translateX(0);
      }
    }
  }
}
