@use '../layout.scss';
@use '../theme.scss';

.section {
  overflow-x: hidden;
}

.article {
  height: 160px;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 1s ease-in-out;
  font-size: 1.5rem;
  justify-content: center;
}

.from-right {
  transform: translateX(90%);
}

.from-left {
  transform: translateX(-90%);
}

.to-original-position {
  transform: translateX(0);
}

.many-contents {
  background-color: theme.$color-pomegranate;
  color: white;
}

.various-forms {
  background-color: theme.$color-belizehole;
  color: white;
}

.reaction {
  background-color: theme.$color-midnightblue;
  color: white;
}
