@use '../layout.scss';
@use '../theme.scss';

.section {
  overflow-x: hidden;
}

.article {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  transition: all 1s ease-in-out;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.from-right {
  transform: translateX(90%);
}

.from-left {
  transform: translateX(-90%);
}

.to-original-position {
  transform: translateX(0);
}

.many-contents {
  background-color: theme.$color-pomegranate;
  color: white;
}

.various-forms {
  background-color: theme.$color-belizehole;
  color: white;
}

.reaction {
  background-color: theme.$color-midnightblue;
  color: white;
}
