$img-size: 12rem;

.section {
  padding: calc($img-size * 0.2);
  .container {
    margin: 0 auto;
    width: $img-size;
    height: $img-size;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .edit {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid black;
      width: calc($img-size * 0.2);
      height: calc($img-size * 0.2);
      bottom: calc($img-size * -0.1);
      right: calc($img-size * -0.1);
    }
  }
}
